<html>
  <head>
    <title>cat hack</title>

    <!-- <base href="/hack" /> -->

    <!-- bootstrap -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap-3.3.6-dist/css/bootstrap.min.css">
    <!-- octicons? -->
    <!-- <link rel="stylesheet" href="/assets/octicons-4.3.0/build/octicons.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css">

    <!-- codemirror -->
    <link rel="stylesheet" href="/assets/vendor/codemirror-5.16.0/lib/codemirror.css">
      <link rel="stylesheet" href="/assets/vendor/codemirror-5.16.0/addon/hint/show-hint.css">
      <!-- <link rel="stylesheet" href="/assets/codemirror-5.16.0/addon/lint/lint.css"> -->

    <!-- pace progress bar -->
    <link href="/assets/vendor/pace/pace.css" rel="stylesheet" />
    
    <!-- custom style -->
    <link rel="stylesheet" href="/assets/app.css">
  </head>
  


  <body ng-app="cathack">

    <div id="show-error" class="error" style="display: none; position: fixed; top:0 ; height: 30vh; width: 100%; background: red; color: white; z-index: 10;"></div>
    

    <div class="container-fluid" ng-controller="HackCtrl">

      <!-- alerts -->
      <div class="alert alert-{{flash.getMessage().klass}}" ng-show="flash.getMessage().message.length > 0" style="z-index: 100; position: fixed; top: 50; right: 20; width: 25%;">{{flash.getMessage().message}}</div>

      <!-- <div id="testes" class="testes">

        <p>
          2: {{ 1 + 1 }}
        </p>

        <p>
          ws status: {{ data.ws | json }}
        </p>
        
        <p>
          testes: {{ testes }}
        </p>

        <p>
          data.cs: {{ data.cs | json }}
        </p>

        <p>
          data.cb: {{ data.cb | json }}
        </p>

        <p>
          data.snippets: {{ data.snippets | json }}
        </p>

        <p>
          data.buckets: {{ data.buckets | json  }}
        </p>

        <p>
          errors: {{ data.error | json }}
        </p>

        <p>
          editoropts: {{ editorOptions | json }}
        </p>

        <p>
          flash: {{ flash.getMessage() | json }}
        </p>

        <p>
          ip: {{ data.ip | json }}
        </p>
      </div> -->
       
       <div class="row" style="min-height: 60vh;">
         
        <!-- library -->
         <div id="lib" class="col-sm-3">
           <div class="row padding">


            <!-- toolbar -->
            <div class="btn-toolbar" role="toolbar">
              <div class="btn-group ">

                <div class="btn-group">
                  <button class="btn btn-default btn-info btn-xs dropdown-toggle" type="button" id="fileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <strong>Maneuvers</strong>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="fileDropdown">
                    
                    <!-- // existing buckets -->
                    <li class="dropdown-submenu {{bucket.id === data.cb.id ? 'active' : ''}}" ng-repeat="bucket in data.buckets" >
                      <a tabindex="-1" href="">
                        <span>
                          <span class="octicon octicon-file-directory"></span>&nbsp;{{ bucket.meta.name }}
                        </span>
                      </a>
                      <ul class="dropdown-menu">
                        <li>
                          <a id="importBucket" href="" ng-click="writeBucketToFS(bucket)">
                            <span class="">
                              <span class="octicon octicon-cloud-download"></span>&nbsp;
                              Write to FS
                            </span>
                            </a>
                        </li>

                        <li><a href="" data-toggle="modal" data-target="#myModal-{{bucket.id}}"><span class="text-primary"><span class="octicon octicon-pencil"></span>&nbsp;Rename</span></a></li>
                        <li><a href="" ng-click="deleteBucket(bucket)"><span class="text-danger">
                          <span class="octicon octicon-x"></span>&nbsp;Destroy</span></a></li>
                      </ul>
                    </li>
                  
                    <!-- <li role="separator" class="divider"></li> -->
                    <li>
                      <a id="createBucket" href="" data-toggle="modal" data-target="#myModal-{{}}" ng-click="createNewBucket()">
                        <span class="text-success">
                          + 
                          new folder
                        </span>
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>

                    <li class="dropdown-submenu">
                      <a id="importBucket" tabindex="-1" href="" ng-click="importBucket()">
                        <span class="">
                          <span class="octicon octicon-cloud-upload"></span>&nbsp;
                          import
                        </span>
                        </a>
                        <ul class="dropdown-menu">
                          <li ng-repeat="path in data.cfs" ng-click="import(path.path, path.fileInfo.isDir)">
                            <a href="">
                              <span class="octicon {{path.fileInfo.isDir ? 'octicon-file-directory' : 'octicon-file-text text-primary'}}">&nbsp;{{path.path}}&nbsp;<small class="text-muted">Last modified: {{path.fileInfo.modTime | timeAgo }}</small></span>
                            </a>
                          </li>
                        </ul>
                    </li>

                  </ul>
                </div>
                
                <!-- <button type="button" class="btn btn-success" ng-click="createNewSnippet()"><span class="octicon octicon-plus"></span>&nbsp;<span class="octicon octicon-file-text"></span></button> -->
              
              </div>
            </div>
           </div>

           <div class="modal fade" ng-repeat="bucket in data.buckets" id="myModal-{{bucket.id}}" tabindex="-1" role="dialog">
             <div class="modal-dialog">
               <div class="modal-content">
                 <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   <h4 class="modal-title">Rename '{{bucket.meta.name}}'</h4>
                 </div>
                 <div class="modal-body">
                   <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">/hacks/</span>
                     <input type="text" class="form-control" placeholder="Something rad..." aria-describedby="basic-addon2" ng-model="bucket.meta.name">
                     
                   </div>
                 </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                   <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveBucket(bucket)">Save changes</button>
                 </div>
               </div><!-- /.modal-content -->
             </div><!-- /.modal-dialog -->
           </div><!-- /.modal -->


          <!-- SNIPPETS LIB -->
           <div id="snippetsLib" class="row padding" style="max-height: 90vh; overflow: scroll; ">

            <div class="row" style="padding-top: 10px;"  ng-repeat="bucket in data.buckets">
              <div class="col-xs-12" style="padding-bottom: 5px;"  >
                <span class="" data-toggle="collapse" href="#{{'bucketCollapse' + bucket.id}}">
                <span class="octicon octicon-file-directory"></span> <strong>{{bucket.meta.name}}</strong></span>
                <div class="pull-right">
                  <button class="btn btn-xs btn-success" ng-click="createNewSnippet()"><span class="octicon octicon-plus"></span> <span class="octicon octicon-file-text"></span></button>
                </div>
                <!-- <div class="pull-right btn-toolbar btn-toolbar-sm">
                  <div class="btn-group">
                    <button class="btn btn-danger btn-xs"><span class="octicon octicon-x"></span></button>
                    <button class="btn btn-primary btn-xs"><span class="octicon octicon-pencil"></span></button>
                    <button class="btn btn-default btn-xs"><span class="octicon octicon-cloud-download"></span></button>
                  </div>
                </div> -->
              </div>
              <div id="bucketCollapse{{bucket.id}}" class="collapse in col-xs-12">
              <div class="col-xs-12 snip text-primary {{ snip.id === data.cs.id ? 'active' : ''}}" ng-if="snip.bucketId === bucket.id" ng-repeat="snip in data.snippets" ng-click="selectSnippetAsCurrent(snip)">
                <span class="name" >
                  <span class="octicon octicon-file-text"></span>&nbsp;
                  {{snip.name}}
                  <small class="text-muted" style="font-size: 1.1rem; font-weight: lighter;">
                    {{snip.timestamp | timeAgo }}, <strong ng-if="snip.ip !== data.ip.ip">{{snip.ipCity}}</strong><strong ng-if="snip.ip === data.ip.ip">you</strong>
                    
                  </small>
                </span>
                <div class="row" ng-if="getFSPathForSnippet(snip)">
                  <div class="col-xs-12">
                    <!-- check if lastMod time is later than snippet timestamp (demonstrates sync) -->
                    <small style="font-size: 0.6rem;" ng-if="comparableTimeInt(getFSPathForSnippet(snip).fileInfo.modTime) > toInt(snip.timestamp)" class="text-success">
                      <span style="font-size: 1rem;" class="octicon octicon-verified"></span>
                    </small>

                    <small style="font-size: 0.6rem;" ng-if="comparableTimeInt(getFSPathForSnippet(snip).fileInfo.modTime) < toInt(snip.timestamp)" class="text-danger">
                      <span style="font-size: 1rem;" class="octicon octicon-issue-reopened"></span>
                    </small>
                    
                    <small class="text-muted" style="font-size: 1rem;">{{getFSPathForSnippet(snip).path }} | {{getFSPathForSnippet(snip).fileInfo.modTime | timeAgo }}</small>
                  </div>
                </div>
              </div>
              </div>
            </div>
              
           </div>
         </div>
         
         <div id="editing" class="col-sm-9">

           <!-- currentSnippet metadata -->
           <div class="col-xs-12" style="padding-top: 3px; padding-bottom: 3px;">
             <!-- <span id="snippetId" class="text-primary">{{data.cs.id}}</span> -->
             <span id="snippetBucketName" ng-click="data.cb = data.buckets[data.cs.bucketId]" style="font-weight: bold;">{{data.buckets[data.cs.bucketId].meta.name}}:</span>
             <code id="snippetName"  
                    contenteditable="true"
                    strip-br="true"
                    strip-tags="true"
                    select-non-editable="true" 
                    ng-model="data.cs.name"></code>
             
             <small id="snippetLang" class="text-warning">{{data.cs.language.name}}</small>
       
             &nbsp;<small class='text-muted'>Saved </small><small id="snippetTime" class="text-success" style="font-weight: bold;">{{data.cs.timestamp | timeAgo }}</small>
             
            &nbsp;<button ng-class="{'btn btn-xs btn-success': (comparableTimeInt(getFSPathForSnippet(data.cs).fileInfo.modTime) > toInt(data.cs.timestamp)), 'btn btn-xs btn-warning': !(comparableTimeInt(getFSPathForSnippet(data.cs).fileInfo.modTime) > toInt(data.cs.timestamp))}"  ng-click="writeSnippetToFile(data.cs)">
              <span ng-class="{'octicon octicon-cloud-download': (comparableTimeInt(getFSPathForSnippet(data.cs).fileInfo.modTime) > toInt(data.cs.timestamp)), 'octicon octicon-issue-reopened': !(comparableTimeInt(getFSPathForSnippet(data.cs).fileInfo.modTime) > toInt(data.cs.timestamp))}"></span> Write to FS
            </button>

             &nbsp;<button id="destroySnippet" ng-click="deleteSnippet(data.cs)" class="btn btn-xs btn-danger">
               Delete <i class="octicon octicon-trashcan"></i>
             </button>

              <small id="catchattoggler" class="catchat pull-right" style="position: relative; top: 0; right: 0;">cat chat&nbsp;<i class="octicon octicon-keyboard"></i></small>

           </div>

           <!-- currentSnippet editor -->
           <div class="col-xs-12" style="margin-bottom: 1rem;">
              <div id="snippetDescription" 
                    contenteditable="true"
                    strip-br="true"
                    strip-tags="true"
                    select-non-editable="true" 
                    ng-model="data.cs.description">{{data.cs.description}}</div>
            </div>
           <div class="col-xs-12" >
             <div id="editor" ui-codemirror ui-codemirror-opts="data.editorOptions" ng-model="data.cs.content">asf</div>
           </div>

         </div>

         <div id="sidebar" class="col-sm-4" style='display: none;background: black; height: 100vh;'>
           <iframe src="/" id="theFrame" style="width:100%; height: 100vh;" frameborder="0"></iframe>
         </div>
     
       </div> <!-- end .row -->
     </div> <!-- end .container-fluid -->



    <!-- <div class="alert alert-{{getAlert().class}}}" style="z-index: 100; position: fixed; bottom: 20; left: 20; width: 30%;">teste</div> -->

    
    <!-- JS -->

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <!-- bootstrap -->
    <script src="/assets/vendor/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>

    <!-- codemirror -->
    <script src="/assets/vendor/codemirror-compressed-2.js"></script>

    <!-- angular -->
    <script src="/assets/vendor/angular/angular.min.js"></script>
    <!-- angular websocket -->
    <script src="/assets/vendor/angular/angular-websocket.min.js"></script>
    <!-- angular uirouter -->
    <script src="/assets/vendor/angular/angular-ui-router.min.js"></script>
    <!-- angular codemirror -->
    <script src="/assets/vendor/angular/ui-codemirror.js"></script>
    <!-- ng-contenteditable -->
    <script src="/assets/vendor/angular/angular-contenteditable.js"></script>
    <!-- ng-timeago -->
    <script src="/assets/vendor/angular/angular-timeago.min.js"></script>

    <script src="/assets/vendor/pace/pace.js"></script>

    <!-- app -->
    <script src="/assets/angular-app/main.js"></script>
    <script src="/assets/angular-app/config.js"></script>
    <!-- <script src="/assets/angular-app/router.js"></script> -->
      <!-- factories -->
      <script src="/assets/angular-app/utils.factory.js"></script>
      <script src="/assets/angular-app/buckets.factory.js"></script>
      <script src="/assets/angular-app/snippets.factory.js"></script>
      <script src="/assets/angular-app/WS.factory.js"></script>
      <script src="/assets/angular-app/FS.factory.js"></script>
      <script src="/assets/angular-app/errors.factory.js"></script>
      <script src="/assets/angular-app/flash.factory.js"></script>
      <script src="/assets/angular-app/ip.factory.js"></script>
      <!-- controllers -->
      <script src="/assets/angular-app/hack.controller.js"></script>
    
    <script>
      function toggleCatChat() {
        $("#sidebar").toggle();
        $("#editing").toggleClass("col-sm-9 col-sm-6");
        $("#lib").toggleClass("col-sm-3 col-sm-2");
      }

      $('#catchattoggler').on("click", function () {
        toggleCatChat();
      });
    </script>
  </body>
</html>
