
/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.CodeMirror {
  /*height: auto;*/
  height: 90vh;
}
/*span.CodeMirror-selected  { background: yellow !important;}*/
span.CodeMirror-selectedtext { background-color: yellow; }

.label-info {
  background-color: #BEE0FC;
}
.text-info {
  color: #BEE0FC;
}
.padding {
  padding: 1rem;
}
.catchat {
  color: lightgreen; 
  background: black;
  margin-right: -30px;
  margin-top: -5px;
  padding: 0.5rem 1.2rem 0.5rem 1rem;
}
.snip {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.snip .name {
  font-weight: bold;
}
#snippetDescription {
  /*background: #eee;*/
  border-left: 2px solid #BEE0FC;
  padding-left: 1rem;
  color: #666;
}
.testes {
  border: 3px solid pink;
}
.activeBucket {
  background-color: #BEE0FC;
}

.active {
  background-color: #BEE0FC; 
}



/* http://bootsnipp.com/snippets/featured/multi-level-dropdown-menu-bs3*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}